<div>
  <img src="/assets/chetu.jpg" alt="Headshot of Maxi Ferreira">
  <p>
    Hi, I'm <strong>Chaitanya</strong>. Glad to see you on my Blog!
    You can follow me on <a href="https://www.twitter.com/Chaitanyaonx" target="_blank">Twitter</a>,
    see some of my work on <a href="https://www.github.com/Chaitanyarai899" target="_blank">GitHub</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
